.timetable-rowclinic-row {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.timetable-rowclinic-image {
  color: var(--dl-color-primary-700);
  padding: 4px;
}
.timetable-rowclinic-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timetable-rowclinic-container1 {
  display: flex;
  flex-wrap: no-wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timetable-rowclinic-link {
  align-self: center;
  text-decoration: none;
}
.timetable-rowclinic-title1 {
  font-style: normal;
  font-weight: 500;
}
.timetable-rowclinic-container2 {
  display: flex;
  flex-wrap: no-wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timetable-rowclinic-link1 {
  align-self: center;
  text-decoration: none;
}
.timetable-rowclinic-title2 {
  font-style: normal;
  font-weight: 500;
}
.timetable-rowclinic-container3 {
  display: flex;
  flex-wrap: no-wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timetable-rowclinic-link2 {
  align-self: center;
  text-decoration: none;
}
.timetable-rowclinic-title3 {
  font-style: normal;
  font-weight: 500;
}
.timetable-rowclinic-container4 {
  display: flex;
  flex-wrap: no-wrap;
  align-items: flex-start;
  flex-direction: row;
}
.timetable-rowclinic-link3 {
  align-self: center;
  text-decoration: none;
}
.timetable-rowclinic-title4 {
  font-style: normal;
  font-weight: 500;
}







@media(max-width: 767px) {
  .timetable-rowclinic-container4 {
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .timetable-rowclinic-container4 {
    flex-direction: row;
  }
}
